body{
  background-color: teal
  }

h1{
  color: Blue;
  text-align: center;
}
h3{
  color: Blue;
  text-align: left;
}

img{
  width: 100px;
  height: 100px;
}

hr{
  background-color: white;
  border-style: none;
  height: 1px;
}

img{
  width: 100px;
  height: 100px;
}

hr{
  background-color: white;
  border-style: none;
  height: 1px;
}
